a{
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    color:#ffd500;
}

.fa-moon:hover{
    color: #ffd500;
}

.theme-btn:hover{
    cursor: pointer;
}

.my-photo{
    margin-top: -6rem;
    background-color: white;
    border-radius: 100%;
}

@media screen and (min-width: 1199px) and (min-width: 1299px){
    .responsive-outlet{
        overflow-y: auto;
        max-height: 38rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    .responsive-outlet{
        overflow-y: auto;
        max-height: 34rem;
    }
}

.scrollbar::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid lightgray;
}

.scrollbar::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #ffc107;
}

.low-opacity{
    opacity: 1px;
}

.highlight-container, .highlight {
    position: relative;
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: black;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 10px 10px 10px;
  }
  

.hacker, .text-warning, nav {
    font-family: 'Space Mono', monospace;
  }
  
@media screen and (max-width: 1199px) {
    .small-screen-hide{
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    .large-screen-hide{
        display: none;
    }
    .main-layout{
        margin-top: 150px;
    }
    .large-screen-rounded{
        border-radius: .375rem;
    }
}

