body{
    font-size: 1.3rem;
}

a{
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    color:#ffd500;
}

.fa-moon:hover{
    color: #ffd500;
}

.fa-sun:hover{
    color: #ffd500;
}

.theme-btn:hover{
    cursor: pointer;
}

.my-photo{
    margin-top: -6rem;
    background-color: white;
    border-radius: 100%;
    width: 200px;
    box-shadow: 0 4px 6px rgb(255,213,0, 0.1), 0 1px 3px rgb(255,213,0, 0.8);
}   

.projects-img:hover{
    box-shadow: 0 8px 12px rgb(255,213,0, 0.1), 0 2px 6px rgb(255,213,0, 0.8);
}

.my-links{
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.scrollbar::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: black;
    border: 1px solid black;
}

.scrollbar::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid black;
    background-clip: content-box;
    background-color: #ffc107;
}

.low-opacity{
    opacity: 1px;
}

.highlight-container, .highlight {
    position: relative;
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: black;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 10px 10px 10px;
  }
  
.hacker, .text-warning, nav {
    font-family: 'Space Mono', monospace;
  }


@media screen and (max-width: 1199px) {
    .small-screen-hide{
        display: none;
    }
    .responsive-loader{
        position: relative !important;
        margin-top: 40%;
    }
    .row{
        --bs-gutter-x: 0 !important;
    }

}

@media screen and (min-width: 1200px) {
    .large-screen-hide{
        display: none;
    }
    .main-layout{
        height: 60rem;
        display: flex;
        justify-content: center;
        padding-right: 0 !important;

    }
    .large-screen-rounded{
        border-radius: .375rem;
    }
    .responsive-outlet{
        min-width: 55%;
        min-height: 100%;
        max-height: 840px;
    }

}

.responsive-outlet{
    overflow-y: scroll;
}

.bg-image{
    background-image: url("/images/coverphoto.jpg");
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.main-layout{
    padding: 0 !important;
    --bs-gutter-x: 0 !important;
}

.signin-text{
    text-align: center;
}

.email-input, .password-input{
    width: 100%;
    border: 1px solid #D1D5DB;
    padding: .5rem;
    font-size: 20px;
}

.email-input{
    border-radius: 6px 6px 0px 0px;
}

.password-input{
    box-shadow: 0px 1px 2px rgb(255,213,0, 0.5);
    border-radius: 0px 0px 6px 6px;
}

.signin-btn{
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    border: solid 1px;
}
