a{
    text-decoration: none !important;
    color: inherit;
}

.theme-btn:hover{
    cursor: pointer;
}

.my-photo{
    margin-top: -6rem;
    background-color: white;
    border-radius: 100%;
}

@media screen and (min-width: 1199px){
    .responsive-outlet{
        overflow-y: scroll;
        max-height: 40rem;
    }

}


    
